body  {
  background-color: #000;
  overflow: hidden;
}

.static-on {
  opacity: 1;
}

.static-off {
  opacity: 0;
}

#static {
  background: url(../public/img/earth.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  width:100%;
  height:100%;
  position: fixed;
  left: 0px;
  top: 0px;
}

#overlay {
  width:100vw;
  height:100vh;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
}

#player {
  z-index: -5;
  position: fixed;
}

#censor {
  z-index: 15;
  position: fixed;
}

#censor-image {
  width: 100vw;
  height: 50px;
}
